aws-stepfunctions/awsstepfunctions-asl.json
{
    "Comment": "An example of the Amazon States Language for running jobs on Amazon EMR",
    "StartAt": "Create an EMR cluster",
    "States": {
      "Create an EMR cluster": {
        "Type": "Task",
        "Resource": "arn:aws:states:::elasticmapreduce:createCluster.sync",
        "Parameters": {
          "Name": "ExampleCluster",
          "VisibleToAllUsers": true,
          "ReleaseLabel": "emr-5.30.1",
          "Applications": [
            { "Name": "spark" }
          ],
          "ServiceRole": "EMR_DefaultRole",
          "JobFlowRole": "EMR_EC2_DefaultRole",
          "LogUri": "s3://mysd33-log-bucket/emr/",
          "Instances": {
            "KeepJobFlowAliveWhenNoSteps": true,
            "InstanceFleets": [
              {
                "Name": "MyMasterFleet",
                "InstanceFleetType": "MASTER",
                "TargetOnDemandCapacity": 1,
                "InstanceTypeConfigs": [
                  {
                    "InstanceType": "m5.xlarge"
                  }
                ]
              },
              {
                "Name": "MyCoreFleet",
                "InstanceFleetType": "CORE",
                "TargetOnDemandCapacity": 1,
                "InstanceTypeConfigs": [
                  {
                    "InstanceType": "m5.xlarge"
                  }
                ]
              }
            ]
          }
        },
        "ResultPath": "$.cluster",
        "Next": "Run first step"
      },
      "Run first step": {
        "Type": "Task",
        "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
        "Parameters": {
          "ClusterId.$": "$.cluster.ClusterId",
          "Step": {
            "Name": "My first EMR step",
            "ActionOnFailure": "CONTINUE",
            "HadoopJarStep": {
              "Jar": "command-runner.jar",
              "Args": ["spark-submit",
                "--deploy-mode",
                "cluster",
                "--class",
                "com.example.fw.app.ApplicationEntryPoint",
                "s3://mysd33bucket123/app/databricks_dev-assembly-0.1.jar",
                "com.example.sample.logic.SampleDataSetBLogic3"]
            }
          }
        },
        "Retry" : [
          {
            "ErrorEquals": [ "States.ALL" ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2.0
          }
        ],
        "ResultPath": "$.firstStep",
        "Next": "Terminate Cluster"
      },
      "Terminate Cluster": {
        "Type": "Task",
        "Resource": "arn:aws:states:::elasticmapreduce:terminateCluster",
        "Parameters": {
          "ClusterId.$": "$.cluster.ClusterId"
        },
        "End": true
      }
    }
}
